<!-- <img id="loadingIcon" src="assets/images/loadingAnimation.svg"/> -->
<div class="row">
	<div id="player-table" class="col-lg-8" style="display: hidden;">
		<h3>{{currentTeam}}</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>College</th>
					<th>Height</th>
					<th>Weight</th>
					<th>Age</th>
					<th>Points</th>
					<th>Reb</th>
					<th>Ast</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in players">
					<td>{{player.player_name}}</td>
					<td>{{player.college}}</td>
					<td>{{player.player_height}}</td>
					<td>{{player.player_weight}}</td>
					<td>{{player.age}}</td>
					<td>{{player.pts}}</td>
					<td>{{player.reb}}</td>
					<td>{{player.ast}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="team-info" class="col-lg-4" style="display: hidden;">
		<h3>Last 5 games</h3>
		<div id="team-last5-games" class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Matchup</th>
						<th>Date</th>
						<th>W/L</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="game in recentGames">
						<td>{{game.matchup}}</td>
						<td>{{game.game_date}}</td>
						<td ng-class="game.wl == 'W' ? 'game-won' : 'game-lost'">{{game.wl}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<h3>Standings</h3>
			<div id="team-last5-games" class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th>W/L</th>
							<th>GB</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="team in standings" ng-class="{ 'bold': team.teamId == currentTeamId }">
							<td width="15%">{{team.confRank}}</td>
							<td width="50%">{{(teams | filter:{teamId:team.teamId})[0].fullName}}</td>
							<td width="15%">{{team.win}} - {{team.loss}}</td>
							<td with="15%">{{team.gamesBehind}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
