.sidebar-nav {
	padding: 9px 0;
}

body { 
	padding-top: 65px; 
}

.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	margin-top: 0;
}

body {
  background: url(http://i43.tinypic.com/vewt4k.png);
}

#social-sidebar {
	left: 0;
	position: fixed;
	top: 25%;
}

#social-sidebar li {
	list-style-type: none;
}

#loadingIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table td {
	font-size: small;
}

.game-won {
	color: green;
}

.game-lost {
	color: red;
}

.bold {
	font-weight: bold;
}

.playoff-line {
	border-bottom: 1.5px solid black;
}