html {
	position: relative;
	min-height: 100%;
}

.sidebar-nav {
	padding: 9px 0;
}

.nav li {
	cursor: pointer;
}

body {
	background: url(http://i43.tinypic.com/vewt4k.png);
	margin-bottom: 60px;
	padding-top: 60px;
}

footer {
	width: 100%;
	background: #335893;
	font-size: 2vw;
	text-align: center;
	position: absolute;
	bottom: 0;
}


footer a {
	color: black;
}

footer a:hover {
	color: white;
}

.nowrap {
	white-space: nowrap;
}

.page404 {
	text-align: center; 
	font-size: 30px; 
	color: grey;
}

.page404-text {
	text-align: center; 
	font-size: 15px; 
	color: grey;
}

#social-sidebar {
	left: 0;
	position: fixed;
	top: 25%;
}

#social-sidebar li {
	list-style-type: none;
}

#loadingIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table td {
	font-size: small;
}

.game-won {
	color: green;
}

.game-lost {
	color: red;
}

.black-background {
	background: black;
}

.bold {
	font-weight: bold;
}

.playoff-line {
	border-bottom: 1.5px solid black;
}

.sortable th {
	cursor: pointer;
}

.sortorder:after {
	content: '\25b2';
}
.sortorder.reverse:after {
	content: '\25bc';
}

article {
	padding-left: 15px;
	padding-right: 5px;
}


.slideshow-container .articleDate { 
	position: absolute; 
	top: 275px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}

.featured-articles .image {
	background: black;
}

.featured-articles img {
	width: 100%;
	height: 300;
	opacity: .5;
}

.nba-news .image {
	background: black;
}

.nba-news img {
	width: 100%;
	height: 300;
	opacity: .5;
}

.nba-draft .image {
	background: black;
}

.nba-draft img {
	width: 100%;
	height: 300;
	opacity: .5;
}

.image { 
	position: relative; 
	width: 100%; /* for IE 6 */
}

.featured-articles span { 
	position: absolute; 
	top: 150px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}

.featured-articles .articleDate { 
	position: absolute; 
	top: 250px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}

.nba-news span { 
	position: absolute; 
	top: 150px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}

.nba-news .articleDate { 
	position: absolute; 
	top: 250px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}

.nba-draft span { 
	position: absolute; 
	top: 150px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}

.nba-draft .articleDate { 
	position: absolute; 
	top: 250px; 
	left: 0; 
	width: 100%; 
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}

.top-buffer { 
	margin-top:20px; 
}

.navbar-fixed-top .navbar-collapse {
	max-height: 450px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

	.western-conference .image img {
	    height: 80px;
		width: 80px;
	}

	.western-conference h1 {
		font-size: 30px;
	}

	.eastern-conference .image img {
	    height: 80px;
		width: 80px;
	}

	.eastern-conference h1 {
		font-size: 30px;
	}

	article p{
		font-size: 14px;
	}

	article h1 {
		font-size: 25px;
	}

	article h4 {
		font-size: 18px;
	}

	article img {
		width: 100%;
		height: 200px;
	}

	article iframe {
		width: 100%;
		height: 185px;
	}

	.slideshow-container h1{
		font-size: 25px;
	}


	.banner {
		width: 100%;
		height: 155px;
	}

	p {
		font-size: 14px;
	}

	.slideshow-container img {
		width: 100%;
		height: 210px;
		opacity: .5;
	}

	.slideshow-container span { 
		position: absolute; 
		top: 110px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.slideshow-container .articleDate { 
		position: absolute; 
		top: 195px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 12px;
	}

	footer {
		height: 50px;
		margin-top: 25px;
	}
	.featured-articles img {
		width: 100%;
		height: 225px;
	}

	.featured-articles span {
		position: absolute;
		top: 100px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.featured-articles .articleDate {
		position: absolute;
		top: 175px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 15px;
	}

	.nba-draft img {
		width: 100%;
		height: 225px;
	}

	.nba-draft span {
		position: absolute;
		top: 100px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-draft .articleDate {
		position: absolute;
		top: 175px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 15px;
	}

	.nba-news img {
		width: 100%;
		height: 225px;
	}

	.nba-news span {
		position: absolute;
		top: 100px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-news .articleDate {
		position: absolute;
		top: 175px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 15px;
	}

	#share-buttons img {
		height: 75px;
		width: 75px;
}	

	#kat img {
		height: 375px;
		width: 275px;
}

	#tweet img{
		height: 125px;
		width: 100%;
	}

	#author p {
		font-size: 12px;
	}

	.mock-draft table {
		 font-family: arial, sans-serif;
   		 border-collapse: collapse;
    	width: 100%;
	}

	.mock-draft td {
    		border: 1px solid #dddddd;
   		 text-align: center;
   		 padding: 2px;
	}

	.mock-draft img {
		display: block;
   		 margin: auto;
   		 width: 45px;
		height: 45px;
	}

	.mock-draft th {
		text-align: center;
		font-size: 15px;
	}

	.mock-draft td {
    font-size: 10px;
	}

	.mock-draft h1 {
		font-size: 25px;
	}

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

	.page404 {
		text-align: center; 
		font-size: 50px; 
		color: grey;
	}

	.page404-text {
		text-align: center; 
		font-size: 30px; 
		color: grey;
	}
	#myNavbar {
		overflow-y: auto !important;
	}
	.banner {
		width: 100%;
		height: 300px;
	}

	p {
		font-size: 18px;
	}

	article p {
		font-size: 20px;
	}

	article iframe {
		width: 560px;
		height: 315px;
	}

	.navbar .container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}

	.western-conference .image img {
	    height: 135px;
		width: 135px;
	}

	.western-conference h1 {
		font-size: 36px;
	}

	.eastern-conference .image img {
	    height: 135px;
		width: 135px;
	}

	.eastern-conference h1 {
		font-size: 36px;
	}

	.slideshow-container img {
		width: 100%;
		height: 400px;
		opacity: .5;
	}

	.slideshow-container span { 
		position: absolute; 
		top: 205px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.slideshow-container .articleDate { 
		position: absolute; 
		top: 380px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.featured-articles img {
		height: 375px;
	}

	.featured-articles span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.featured-articles .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-news img {
		height: 350px;
	}

	.nba-news span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.nba-news .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-draft img {
		height: 350px;
	}

	.nba-draft span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.nba-draft .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	article img {
		width: 100%;
		height: 400px;
	}

	#kat img {
		height: 500px;
		width: 400px;
}

	#tweet img{
		height: 275px;
		width: 100%;
	}

	#author p {
		font-size: 16px;
	}

	.mock-draft table {
		 font-family: arial, sans-serif;
   		 border-collapse: collapse;
    	width: 100%;
	}

	.mock-draft td {
    		border: 1px solid #dddddd;
   		 text-align: center;
   		 padding: 10px;
	}

	.mock-draft img {
		display: block;
   		 margin: auto;
   		 width: 80px;
		height: 80px;
	}

	.mock-draft th {
		text-align: center;
		font-size: 23px;
	}

	.mock-draft td {
    font-size: 18px;
	}

	.mock-draft h1 {
		font-size: 30px;
	}

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

	.slideshow-container h1{
		font-size: 45px;
	}


	.western-conference .image img {
	    height: 225px;
		width: 225px;
	}

	.western-conference h1 {
		font-size: 40px;
	}

	.eastern-conference .image img {
	    height: 225px;
		width: 225px;
	}

	.eastern-conference h1 {
		font-size: 40px;
	}

	article p{
		font-size: 18px;
	}

	article h1 {
		font-size: 30px;
	}

	article h4 {
		font-size: 20px;
	}

	article img {
		width: 60%;
		height: 500px;
	}

	article iframe {
		width: 560px;
		height: 315px;
	}

	.banner {
		width: 100%;
		height: 475px;
	}

	p {
		font-size: 18px;
	}

	.slideshow-container img {
		width: 100%;
		height: 400px;
		opacity: .5;
	}

	.slideshow-container span { 
		position: absolute; 
		top: 205px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.slideshow-container .articleDate { 
		position: absolute; 
		top: 380px; 
		left: 0; 
		width: 100%; 
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.featured-articles img {
		height: 350px;
	}

	.featured-articles span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.featured-articles .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-news img {
		height: 350px;
	}

	.nba-news span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.nba-news .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.nba-draft img {
		height: 350px;
	}

	.nba-draft span {
		position: absolute;
		top: 150px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 35px;
	}

	.nba-draft .articleDate {
		position: absolute;
		top: 280px;
		left: 0;
		color: #ffffff;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}

	.mock-draft table {
		 font-family: arial, sans-serif;
   		 border-collapse: collapse;
    	width: 90%;
	}

	.mock-draft td {
    		border: 1px solid #dddddd;
   		 text-align: center;
   		 padding: 20px;
   		 height: 100px;
   		 width: 50px;
	}

	.mock-draft img {
		display: block;
   		 margin: auto;
   		 width: 105px;
		height: 105px;
	}

	.mock-draft th {
		text-align: center;
		font-size: 30px;
	}

	.mock-draft td {
    font-size: 25px;
	}

	.mock-draft h1 {
		font-size: 30px;
	}

	footer {
		height: 75px;
		margin-top: 25px;
	}

	body{
		margin-bottom: 80px;
	}

	#share-buttons img {
		height: 100px;
		width: 100px;
}

	#kat img {
		height: 550px;
		width: 375px;
}

	#tweet img{
		height: 275px;
		width: 60%;
	}

	#author p {
		font-size: 16px;
	}


}

/* This media query is strictly so we can collapse the nav before the list
items begin to take two lines*/
@media (max-width: 900px) {
	#social-sidebar {
		display: none;
	}
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
	      position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
}

@media (min-width: 900px) {
	#myNavbar {
		overflow-y: visible !important;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}

	#mainContent {
		margin-left: 60px;
	}
}